@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 41, 41, 41;
  --primary-rgb: 210, 150, 75;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1, h2, h3, h4, h5, h6 {
  color: #D2964B;
}
